* {
    background: rgb(2, 0, 36);
}

section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    justify-content: center;
}

h1 {
    color: rgb(228, 16, 94);
    font-size: 4rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex li {
    margin: 3rem;
    padding: 0.8rem;
    border-radius: 2rem;
    text-align: center;
    background-color: white;
    color: rgb(228, 16, 94);
    font-weight: bold;
    font-family: "Helvetica Neue", sans-serif;
}

.flex li:active {
    color: black;
    background-color: rgb(228, 16, 94);
}

.flex li:hover {
    cursor: pointer;
}

.icon {
    color: rgb(228, 16, 94);
    width: 400px;
}

.error {
    margin-top: 5rem;
    color: rgb(228, 16, 94);
    font-weight: bold;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 2.5rem;
    text-align: center;
}
