* {
    background: rgb(2, 0, 36);
}

section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    justify-content: center;
}

h1 {
    color: rgb(228, 16, 94);
    font-size: 4rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex li {
    margin: 3rem;
    padding: 0.8rem;
    border-radius: 2rem;
    text-align: center;
    background-color: white;
    color: rgb(228, 16, 94);
    font-weight: bold;
    font-family: "Helvetica Neue", sans-serif;
}

.potion img {
    width: 10rem;
    background-color: white;
}

.iconify icon {
    color: rgb(228, 16, 94);
}
